
#profile-signout{
    text-align: right; /* Align signout to the right */
}

#user-profile {
    text-align: left; /* Align profile to the left */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto; /* Center the profile section */
}

#user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    vertical-align: middle;
}

#user-profile h2 {
    margin-top: 0;
}

#user-profile p {
    margin-bottom: 5px;
}

#profile-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#profile-link{
    text-align: right;
}